.Product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

.Product:hover {
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.Product > h2 {
font-size: 24px;
margin-bottom: 8px;
}

.Product > h3 {
font-size: 18px;
margin-bottom: 12px;
}
